@import url(../font/fonts.css);
@import url(media.css);



:root {
    --color-dark-broun: #191A23;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #F3F3F3;
    --background-second: #B9FF66;


    --padding: 50px;
    --padding-button: 20px 35px;

    --border: 1px solid #191A23;

    --box-shadow: 0px 5px 0px #191A23;

    --border-radius-card: 45px;
    --border-radius-button: 14px;
    --border-radius-text: 7px;


    --font-size-main: 18px;
    --font-size-second: 20px;
    --font-size-section-heading: 40px;
    --font-weight-body: 400;

    --font-family-main: 'SpaceGrotesk-Regular';
    --font-family-main-heading: "SpaceGrotesk-Medium";

    --transition: 0.2s;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h2 {
    padding: 0 3px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    background: var(--background-second);
    text-align: center;
}


.block__title {
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.body {
    font-size: var(--font-size-main);
    font-family: var(--font-family-main), sans-serif;
    font-weight: var(--font-weight-body);
    font-style: normal;
    color: var(--color-dark-broun);
    transition: var(--transition);
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    padding: var(--padding-button);
    color: var(--color-white);
    font-family: var(--font-family-main);
    font-size: var(--font-size-second);
    background-color: var(--color-dark-broun);
    border-radius: var(--border-radius-button);
    transition: var(--transition);
    border: none;
    cursor: pointer;
}

.header {
    margin: 60px 0 70px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.menu__list {
    display: flex;
    gap: 0 40px;
}

.menu__link:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid var(--color-black);
}

.header__link {
    display: inline-block;
    color: var(--main-color);
    background-color: var(--color-white);
    border: var(--border);
}



.header__link:hover {
    color: var(--color-white);
    background-color: var(--color-dark-broun);
}

.heading__block {
    max-width: 530px;

}

.heading__inner {
    display: flex;
}

.heading__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
}

.description-title {
    margin: 35px 0;
    font-size: 20px;
    line-height: 28px;
}

.clients__inner {
    display: flex;
    justify-content: space-between;
}

.clients__image {
    margin: 70px 0 140px;
    filter: grayscale(1);
}

.service__heading-block {
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.discription__title {
    max-width: 580px;
    line-height: 23px;
}

.cards {
    margin: 80px 0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

}

.service-card {
    height: 310px;
    display: flex;
    flex-basis: 600px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: var(--padding);
    background: var(--color-gray);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-card);
}

.service-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-card-body__title {
    padding: 0 3px;
    font-family: var(--font-family-main-heading);
    font-size: 30px;
    line-height: 38px;
    border-radius: var(--border-radius-text);
}

.wrapper-icon {
    width: 41px;
    height: 41px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-black);

}



.service-card-body__link {
    display: flex;
    align-items: center;
    gap: 0 15px;
    cursor: pointer;

}


.service-card-body__link-text {
    color: var(--color-black);
}

.service-card-body__title--bg-green {
    background-color: var(--background-second);
}

.service-card--bg-green {
    background-color: var(--background-second);
}

.service-card--bg-black {
    background-color: var(--color-black);
}

.service-card-body__title--bg-white {
    background-color: var(--color-gray);
}

.service-card-body__title--bg-black {
    background-color: var(--color-gray);
}

.service-card-body__link {
    color: var(--color-gray);
    transition: var(--transition);
}

.service-card-body__link:hover>.wrapper-icon {

    background-color: #505050;
}

.wrapper-icon--bg-white {
    background-color: var(--color-gray);
}

.wrapper-icon--bg-white svg path {
    fill: var(--color-black)
}

.service-card-body__link-text--col-black {
    color: var(--color-white);
}

.banner-section {
    max-width: 100%;
    height: 350px;
    margin-bottom: 140px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-card);
}

.banner-section__title {
    font-family: var(--font-family-main-heading);
    font-size: 30px;
    line-height: 38px;
}

.banner-section__discription {
    max-width: 500px;
    margin: 26px 0;
}

.banner-section__image {
    width: 495px;
    height: 395px;
    position: absolute;
    right: 0;
    top: -30px;
}

.case__discription-title {
    max-width: 580px;
}

.case-block {
    max-width: 100%;
    margin: 80px 0 140px;
    padding: 70px 60px;
    border-radius: var(--border-radius-card);
    background-color: var(--color-black);
}

.case-block {
    display: flex;
    justify-content: space-between;
}

.case-card {
    color: var(--color-white);
}

.case-card__text {
    max-width: 285px;
    font-size: 18px;
    line-height: 23px;
}

.case-card__link {
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 0 15px;
    color: var(--background-second);
}

.case-card__link:hover svg path,
.case-card__link:hover .case-card__link-text {
    fill: var(--color-gray);
    color: var(--color-gray);
}

.line {
    width: 1px;
    height: 185px;
    margin: 0 64px;
    background-color: var(--color-white);
}